@model AppUserUpdatePasswordModel

@if (TempData["Success"] != null)
{
    <div class="alert alert-success text-center alert-dismissible fade show" role="alert">
        @Html.Raw(TempData["Success"])
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<h4 class="display-4 text-center">Şifre Güncelle</h4>

<form class="w-50 mx-auto shadow p-3" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group row">
        <label class="col-md-4 col-form-label" asp-for="Email">E-Posta</label>
        <div class="col-md-8">
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-4 col-form-label" asp-for="CurrentPassword">Mevcut Şifre</label>
        <div class="col-md-8">
            <input class="form-control" asp-for="CurrentPassword" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-4 col-form-label" asp-for="NewPassword">Yeni Şifre</label>
        <div class="col-md-8">
            <input class="form-control" asp-for="NewPassword" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-4 col-form-label" asp-for="ReNewPassword">Yeni Şifre<span class="text-secondary"> (Tekrar)</span></label>
        <div class="col-md-8">
            <input class="form-control" asp-for="ReNewPassword" />
            <span asp-validation-for="ReNewPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-8 offset-sm-4">
            <button type="submit" class="btn btn-primary float-right">Kaydet</button>
            <a asp-area="Admin" asp-controller="Profile" asp-action="Index" class="btn btn-secondary float-right mr-3">Vazgeç</a>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/library/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/library/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}