@model ResetPasswordViewModel

@{
    Layout = "_DashboardLayout";
}

<h4 class="display-4 text-center mb-3">Şifremi Sıfırlama</h4>
<p class="text-center lead font-italic">Lütfen yeni bir şifre belirleyin.</p>
<form class="p-3 w-50 mx-auto shadow rounded" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Token" />
    <div class="form-group row">
        <label class="col-form-label col-sm-3" asp-for="Email">E-Posta</label>
        <div class="col-sm-9">
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-3" asp-for="Password">Yeni Şifre</label>
        <div class="col-sm-9">
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
            <button type="submit" class="btn btn-primary">Gönder</button>
        </div>
    </div>
</form>