@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/library/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>Hata</title>
</head>
<body>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <img src="~/img/error.png" class="img-fluid" alt="..." />
            </div>
            <div class="col-md-6 my-auto">
                <h4 class="display-4 text-danger">HATA</h4>
                <p class="lead">Oluşan hatadan dolayı üzgünüz. Hatanın en kısa zamanda giderilmesi için ekibimiz bilgilendirildi.</p>
            </div>
        </div>
    </div>
</body>
</html>

