<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/1.jpg" alt="...">
            <div class="carousel-caption">
                <h3 class="mt-5">ÇALIŞMA ALANLARI</h3>
                <p class="px-3 mt-3">
                    Çalışma alanları ile ilgili detaylara ulaşmak için <a class="text-decoration-none" asp-controller="WorkArea" asp-action="Index"><strong>tıklayınız</strong></a>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/2.jpg" alt="...">
            <div class="carousel-caption">
                <p class="text-left my-0" style="line-height: .5; font-size: 3rem; margin-top:1px; margin-bottom: 2px; padding-bottom: 2px; padding-top:0;">“</p>
                <div class="text-justify px-3">
                    Hiç kimse onu bulandırmadığı ve ihlal etmediği sürece hukuk, teneffüs ettiğimiz hava gibi,
                    görünmez ve tutulmaz bir şekilde etrafımızı kaplar. O, ancak kaybettiğimizi anladığımız
                    zaman değerinin farkına vardığımız sağlık gibi sezilmez bir şeydir.
                </div>
                <p class="text-right my-0" style="line-height: .5; font-size: 3rem; margin-top:1px; margin-bottom: 2px; padding-bottom: 2px; padding-top:0;">”</p>
                <footer class="blockquote-footer mr-2 text-light text-right lead">Leadri</footer>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/3.jpg" alt="..">
            <div class="carousel-caption">
                <h3 class="display-4 mt-5">Makaleler</h3>
                <p> Hukuk ile ilgili tüm makalelere ulaşmak için <a class="text-decoration-none" asp-controller="Article" asp-action="Index"><strong>buraya</strong></a> tıklayınız.</p>
            </div>
        </div>
    </div>
</div>